# Pasta de build do Maven
/target/

# Ficheiros de build antigos do NetBeans
/build/
/dist/

# Ficheiros de configuração do NetBeans
/nbproject/

# Configurações privadas de IDE
/nbproject/private/
*.user
*.vscode